
@{
    ViewBag.Title = "Abbatage";
}

<div class="title_container">
    <h1>Abbatage</h1>
</div>

<div class="row">
    <div class="col-12 col-md-6 p-0 p-md-3">
        <h3>C'est quoi l'abbatage ?</h3>
        <p>En plus de la taille des arbres, il faut parfois procéder à <strong>l’enlèvement</strong> de ceux-ci. Lorsqu’un arbre atteint une certaine hauteur, n’a plus sa place ou devient dangereux (attaque de champignons ou autres agents pathogènes), il faut procéder à sa coupe. Cette opération nécessite <strong>précision et rigueur</strong> dans le respect des règles de sécurité. Le choix de l’abattage est multiple, il dépend principalement de la place dont dispose l’arboriste grimpeur. Ensuite le bois coupé peut par exemple valorisé comme bois de chauffage.</p>
        <p class="pt-2">Les différents abattages:</p>
        <ul class="cutting_list">
            <li class="cutting_list_li"><strong>Abattage en direct</strong> (coupe de l’arbre directement du pied)</li>
            <li class="cutting_list_li"><strong>Démontage avec ou sans retention</strong> (en premier on coupe les branches puis ensuite débitage du tronc morceaux par morceaux )</li>
        </ul>
        <p>L’abattage d’un arbre peut se justifier par son <strong>état sanitaire</strong>, par un changement d’environnement (habitations, réseaux souterrains, contraintes), ou une erreur de plantation.</p>
        <p>L’abattage est réalisé par nos professionnels qui maîtrisent toutes les différentes méthodes d’abattage, ce qui permet une intervention sécurisée pour les biens et les personnes.</p>
        <p>La méthode d’abattage (directionnel, par démontage ou en rétention) et le matériel utilisé dépendent de l’arbre et de son environnement (accès, voirie, réseaux aériens ou souterrains, habitations proches).</p>
    </div>
    <div class="col-12 col-md-6 p-0 p-md-3">
        <h3>Sécurité</h3>
        <p>Tous nos travaux sont réalisés avec du matériel en adéquation avec les <strong>dernières normes en vigueur</strong>. Nous nous déplaçons donc dans les arbres à l’aide d’un matériel spécifique (cordes, baudriers, etc…) répondant à des exigences strictes.</p>
        <p>Comme toute entreprise d’élagage nous disposons d’une assurance responsabilité civile professionnelle « Élagage et abattage d’arbres de toutes hauteurs et tous diamètre ». C’est cette assurance qui garantit la solvabilité de l’entreprise en cas de dommages à vos biens ou aux personnes.</p>
        <p>L’élagage et l’abattage sont des <strong>operations dangereuses</strong>, il ne faut en aucun cas les prendre à la légère et donc agir en conséquence.</p>
    </div>
</div>
<div class="row mb-0 mb-md-5">
    <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 steps_image">
            <img src="~/Content/AllImages/step1.png" alt="Coupe d'un arbre avant/après" class="about_image" />
            <p class="step_para">étape 1</p>
        </div>
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 steps_image">
            <img src="~/Content/AllImages/step2.png" alt="Coupe d'un arbre avant/après" class="about_image" />
            <p class="step_para">étape 2</p>
        </div>
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 steps_image">
            <img src="~/Content/AllImages/step3.png" alt="Coupe d'un arbre avant/après" class="about_image" />
            <p class="step_para">étape 3</p>
        </div>
    </div>
</div>
