
@{
    ViewBag.Title = "Paysagisme";
}

<div class="row">
    <div class="col-12 p-0 p-md-3">
        <h3>Architecture du paysage</h3>
        <p><strong>L’architecture du paysage</strong> ou paysage — et non « paysagisme » constituant un abus de langage — consiste en l’art de la compréhension et du design de paysages dans leur immense diversité. L'architecture du paysage inclut notamment la conception d'espaces paysagers tels que l'aménagement de l'espace public, de parcs et d'espaces de récréation et le design urbain. Elle inclut également des interventions en faveur de la <strong>restauration environnementale</strong>, la planification de territoires aux différentes échelles et la préservation de paysages historiques et identitaires. Le praticien de <strong>l’architecture de paysage</strong> est appelé architecte paysagiste, paysagiste concepteur ou simplement paysagiste selon les pays.</p>
        <p>Les différentes <strong>missions du paysagiste</strong>:</p>
        <ul class="cutting_list">
            <li class="cutting_list_li">Trouver <strong>l'idée</strong> et montrer comment elle va se concrétiser</li>
                <ul class="cutting_list">
                    <li class="cutting_sublist_li">Concept et esquisses</li>
                    <li class="cutting_sublist_li">Montrer une forme matérielle de l'idée</li>
                </ul>
            <li class="cutting_list_li"><strong>Faire les plans</strong></li>
                <ul class="cutting_list">
                    <li class="cutting_sublist_li">Plans techniques pour la construction</li>
                    <li class="cutting_sublist_li">Estimation détaillée</li>
                    <li class="cutting_sublist_li">Devis</li>
                </ul>
            <li class="cutting_list_li">Suivre ou <strong>effectuer les travaux</strong></li>
                <ul class="cutting_list">
                    <li class="cutting_sublist_li">Suivi de chantier</li>
                    <li class="cutting_sublist_li">Conformité, avis de changement, décomptes, acceptation</li>
                </ul>
            <li class="cutting_list_li">Suivi du <strong>jardin</strong></li>
                <ul class="cutting_list">
                    <li class="cutting_sublist_li">Au delà de l'inauguration le suivi de l'entretien est essentiel. En trois ans on peut complètement changer l'aspect d'un jardin en modifiant son entretien.</li>
                </ul>
        </ul>
    </div>
</div>
<div class="row mb-0 mb-md-5">
    <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 p-0 p-md-2 steps_image">
            <img src="https://i.pinimg.com/originals/0a/66/0b/0a660b2531c9d0fa5facfc7641793a72.jpg" alt="Amménagement paysager" class="about_image" />
        </div>
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 p-0 p-md-2 steps_image">
            <img src="https://st.depositphotos.com/1292552/4805/i/600/depositphotos_48057203-stock-photo-garden-work-being-done-landscaping.jpg alt="Paysagisme" class="about_image" />
        </div>
        <div class="col-12 col-md-4 p-0 mb-5 mb-md-0 p-0 p-md-2 steps_image">
            <img src="https://mascart-espaces-verts.fr/wp-content/uploads/2018/01/bassin-3.jpg" alt="Paysagisme" class="about_image" />
        </div>
    </div>
</div>
