
@{
    ViewBag.Title = "Elagage";
}

<div class="title_container">
    <h1>Elagage</h1>
</div>

<div class="row">
    <div class="col-12 col-md-6 p-0 p-md-3">
        <p><strong>L’élagage</strong> consiste en la coupe de certaines branches (ébranchage) d'un arbre pour en orienter ou limiter le développement. On appelle généralement élagage l'arboriculture ornementale. On distingue <strong>l'élagage sylvicole, l'élagage fruitier et l'élagage ornemental</strong>. L'élagage est aussi un processus biologique naturel d'abandon des branches, ou parfois d'une partie du houppier (descente de cime), afin d'optimiser les ressources et dépenses d'énergie de l'arbre, processus appelé élagage naturel. On peut le comprendre comme un processus de sélection des branches d'un arbre sans intervention humaine, en raison d'événements climatiques, par manque de lumière ou d'eau, et/ou par l'action de champignons lignivores spécialisés.</p>
        <p>Selon la nature du problème, l'élagueur doit prendre <strong>un temps de réflexion</strong>, et réfléchir quel type de taille il doit effectué, afin d'allier la <strong>sécurité</strong> pour l'Homme, la <strong>santé</strong> pour l'arbre, et l'insertion dans le <strong>paysage</strong>.</p>
        <p class="pt-3">Les différentes tailles:</p>
        <ul class="cutting_list">
            <li class="cutting_list_li">
                De formation (taille d’un jeune arbre pour anticiper sa taille architecturée)
            </li>
            <li class="cutting_list_li">
                Architecturée (elle a pour objectif de créer une forme géométrique)
            </li>
            <li class="cutting_list_li">
                D’entretien (destinée à supprimer tous les bois morts)
            </li>
            <li class="cutting_list_li">
                De cohabitation (permet de s’adapter aux contraintes de son environnement)
            </li>
            <li class="cutting_list_li">
                De réduction (réduction du volume et de la hauteur de l’arbre)
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-6 p-0 pt-2 p-md-3 pruning_col_1">
        <img src="~/Content/AllImages/before_after.png" alt="Coupe d'un arbre avant/après" class="about_image" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 p-0 pt-2 p-md-3 pruning_col_2 d-none d-md-block">
        <img src="~/Content/AllImages/Elagueur4.jpg" alt="Coupe d'un arbre avant/après" class="about_image" />
    </div>
    <div class="col-12 col-md-6 p-0 p-md-3">
        <p>Mon arbre a-t-il <strong>besoin d’être élagué</strong> ? C’est là que réside toute l’ambiguité…</p>
        <p>Un arbre ou un palmier n’a absolument pas besoin de nous pour vivre ou s’entretenir, ils se sont adaptés au fil du temps afin de pouvoir répondre seuls aux agressions naturelles de leurs milieux. Néanmoins nous avons un peu plus de mal à nous adapter à eux, nos besoins en espaces primants sur les leurs il nous faut trouver des <strong>moyens de cohabitation</strong>.</p>
        <p>C’est justement sur ce moyen de cohabitation que l’arboriste grimpeur / élagueur peut vous <strong>conseiller</strong>.</p>
        <p>Si nous devions résumer, l’élagage est l’action de tailler qui permet à l’homme de <strong>cohabiter</strong>, d’entretenir et de <strong>valoriser</strong> son patrimoine arboré de façon intelligente et raisonnée.</p>
        <p>L’étape préliminaire de tout chantier est la <strong>prise d’un rendez-vous</strong> pour être conseillé, à la fois sur les travaux à réaliser et pour établir un devis clair et chiffré. Nos devis prennent en compte l’essence, l’âge de l’arbre, son mode de gestion ainsi que son environnement (accès, voirie, habitations, réseaux aériens etc...).</p>
        <p>Notre spectre d’intervention va des jeunes plantations jusqu’aux arbres adultes de toutes hauteurs. Confier vos arbres à notre entreprise est la promesse du <strong>respect de votre patrimoine arboré</strong>, de sa longévité et de son esthétisme. C’est également la garantie d’une économie financière tout au long de la vie du végétal.</p>
        <p>L’arbre met un siècle à s’épanouir, une heure suffit à le détruire. Pourquoi ne pas prendre cinq minutes pour y réfléchir ?</p>
    </div>
    <div class="col-12 col-md-6 p-0 pt-2 p-md-3 pruning_col_2 d-block d-md-none">
        <img src="~/Content/AllImages/Elagueur4.jpg" alt="Coupe d'un arbre avant/après" class="about_image" />
    </div>
</div>